{{> head }}
{{> navbar }}

<div class="row">


<div class="col-8">
  <h1>Monda</h1>
  </div>



  <div class="col-4">
  <img src="assets/img/images.jpg" class="img-thumbnail">
  </div>


</div>




   {{> footer}}